$background-color: #f9f9f9;
$primary-color: #FE3F69;
$primary-color-hover: #fa839d;
$text-color: #333;
$input-border-color: #ccc;
$input-border-focus-color: $primary-color;
$button-text-color: white;
$border-radius: 20px;
