$background-color: #f9f9f9;
$primary-color: #ffae00;
$primary-color-hover: #ffcb5b;
$text-color: #333;
$input-border-color: #ccc;
$input-border-focus-color: $primary-color;
$button-text-color: white;
$border-radius: 20px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
